.nav-item {
    color: rgb(199, 46, 12)!important;
    display: inline-block;
    padding: 0px 15px;
    font-weight: bold;
}

.nav-item.left {
  padding: 0px;
  text-align:left;
}

.nav-item a {
    color: rgb(199, 46, 12)!important;
}

.navbar-brand {
  justify-self: left;
  padding: 0px 20px 0px 0px;
}
